.divInscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        background: #80808038;
        border-radius: 20px;
        margin: 40px 0px;
        label {
            font-weight: bold;
            text-align: center;
            margin: 15px 5px;
        }
        input {
            width: 60%;
            max-width: 250px;
            height: 20px;
            border-radius: 5px;
            border: none;
            margin: 10px 5px;
        }
        button {
            margin: 15px 5px;
            height: 40px;
            width: 50%;
            max-width: 220px;
            background: red;
            border: none;
            border-radius: 20px;
            color: white;
            font-weight: bold;
            font-size: 100%;
            cursor: pointer;
        }
    }
}