.messageErreur {
    margin: 30px 0px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.messageValidation {
    margin: 30px 0px;
    font-size: 20px;
    font-weight: bold;
    color: green;
}
.messageErreurInput {
    color: red;
    text-align: center;
    margin: 5px;
}